{% extends 'common/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/student/start_quiz.css' %}">
{% endblock %}

{% block title %}
    Quiz Started
{% endblock %}

{% block body %}

    <!-- Button trigger modal -->
    <button id="start-button" type="button" class="btn btn-primary mt-2 btn-lg" data-toggle="modal"
            data-target="#exampleModalScrollable">
        Start Quiz
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle">Quiz Rules</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="jumbotron">

                        <h6 class="text-info text-center">Before you start the Exam, here are the rules</h6>

                        <div class="row">

                            <div class="card border-info mx-4 my-4">
                                <div class="card-body text-info">

                                    <h5 class="card-title">Exam Details :</h5>
                                    <p class="card-text">
                                    <ul style="list-style:decimal;">
                                        <li>Exam Name : {{ quiz_detail.quiz_name }}</li>
                                        <li>Total Question : {{ quiz_detail.total_question }}</li>
                                        <li>Total Marks : {{ quiz_detail.total_marks }}</li>
                                        <li>Time Duration : {{ quiz_detail.time_duration }} min</li>
                                    </ul>
                                    </p>

                                    <h5 class="card-title">Rules :</h5>
                                    <p class="card-text">
                                    </p>
                                    <ul style="list-style:decimal;">
                                        <li>All questions are multiple choice question.</li>
                                        <li><span class="text-danger">Only one choice is correct.</span></li>
                                        <li>Every question carry different marks
                                        </li>

                                        <li>Try to answer as quickly as you can.</li>
                                        <li>If you press refresh or go back to the previous page, there will be a new
                                            question for
                                            you and the question you were on will be counted as attempted.
                                        </li>
                                        <li>Questions are displayed randomly for every user.</li>
                                        <li>You will be told your marks immediately when you submit the answer.</li>
                                    </ul>

                                </div>
                                <div class="card-footer">Best Of Luck</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            onclick="quizCtrl.init({{ qid }})">
                        Let's Start
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-success" role="alert" id="resultMessage">
        Correct Answer
    </div>

    <div class="container mt-sm-5 mt-4" id="quiz-body">
        <header>
            <div class="title">Awesome Quiz Application</div>
            <div class="timer">
                <div class="time_left_txt">Time Left</div>
                <div class="timer_sec">15</div>
            </div>
            <div class="time_line" style="width: 47px;"></div>
        </header>
        <div class="question ml-sm-5 pl-sm-5 pt-2">
            <div class="py-2 h5">
                <span class="font-weight-bold" id="question">Q.</span>
                <b><span id="question"></span></b>
            </div>
            <div class="option_list" id="options">

            </div>
        </div>

        <div class="d-flex align-items-center pt-3">

            <div class="ml-auto mr-sm-5">
                <button id="btnNext" onclick="quizCtrl.next()" class="btn btn-info" role="button">Next</button>
                <button id="btnSubmit" class="btn btn-success font-weight-bold" role="button">Submit</button>
            </div>

        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/student/start_quiz.js' %}"></script>
{% endblock %}