#start-button {
    box-shadow: 0px 0px 5px 5px black;
    padding: 15px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

}

.alert {
    width: 50%;
    margin: 10px auto;
}

.container {
    background-color: #f2f2f2;
    color: black;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    max-width: 800px;
}

.container > p {
    font-size: 32px
}

.question {
    width: 90%
}

.options {
    position: relative;
    padding-left: 40px
}

.option-container {
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.correct {
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}

.incorrect {
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

.disabled {
    pointer-events: none;
}

#quiz-body header {
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

#quiz-body header .title {
    font-size: 20px;
    font-weight: 600;
}

#quiz-body header .timer {
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}

#quiz-body header .timer .time_left_txt {
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

#quiz-body header .timer .timer_sec {
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
}

#quiz-body header .time_line {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: #007bff;
}

.checkmark {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #555;
    border: 1px solid #ddd;
    border-radius: 50%
}

.options input:checked ~ .checkmark:after {
    display: block
}

.options .checkmark:after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 300ms ease-in-out 0s
}

.options input[type="radio"]:checked ~ .checkmark {
    background: #21bf73;
    transition: 300ms ease-in-out 0s
}

.options input[type="radio"]:checked ~ .checkmark:after {
    transform: translate(-50%, -50%) scale(1)
}

/*----------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------*/


.btn-success {
    padding: 5px 25px;
    background-color: #21bf73
}

@media (max-width: 576px) {
    .question {
        width: 100%;
        word-spacing: 2px
    }
}